@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-Custom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar-Custom::-webkit-scrollbar
{
	width: 5px;
    height: 5px;
	background-color: #F5F5F5;
}

.scrollbar-Custom::-webkit-scrollbar-thumb
{
	background-color: gray;
}